*,
:after,
:before {
	font-family: Proxima Sans, Helvetica, Arial;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-collapse: collapse;
	-webkit-font-smoothing: antialiased;
	outline: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

*:focus,
*:active,
button {
	outline: none !important;
	text-decoration: none !important;
}

a {
	text-decoration: none !important;
}

a:hover {
	text-decoration: none;
	color: inherit;
}
/* Body */
body {
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: left;
	color: #000;
	background: #FFF;
	font-family: "Proxima Sans Regular", Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 1.5;
}
p {
	margin: 0;
}
p:not(:first-child) {
	margin-top: 1em;
}
a,
a:hover {
	text-decoration: underline;
	color: #E40000;
}

/* Button */
.btn {
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin-top: 30px;
	padding: 10px 35px;
	cursor: pointer;
	user-select: none;
	transition: color .2s ease-in-out, border-color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out;
	text-align: center;
	vertical-align: top;
	text-decoration: none !important;
	color: #FFF;
	border: none;
	border-radius: 25px;
	outline: none;
	background: #F5821F;
	font-size: 17px;
	font-size: 1.0625rem;
	font-weight: 700;
	line-height: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.btn:hover {
	color: #FFF;
	background-color: #F58220;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .36);
}

/* Container */
.container {
	width: 100%;
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 30px;
}
.container::after {
	display: table;
	clear: both;
	content: "";
}

/* Form */
form.form .form-block:not(:first-child) {
	margin-top: 15px;
}
.mc4wp-checkbox span {
    display: none !important;
}
form.form .form-label {
	display: block;
	margin: 0;
	margin-bottom: 5px;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.25;
}
form.form .form-input {
	display: block;
	width: 100%;
	height: 42px;
	margin: 0;
	padding: 8px 12px;
	transition: border-color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out;
	color: #000;
	border: 1px solid #ECEAE5;
	border-radius: 4px;
	outline: none !important;
	background: #F6F3EE;
	font-size: 16px;
	font-size: 1rem;
	line-height: 24px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
form.form .form-input:focus {
	border-color: #3DA1FD;
	box-shadow: 0 0 0 2px rgba(61, 161, 253, .25);
}
form.form .form-input::placeholder {
	color: #979797;
}
form.form .form-submit:not(:first-child) {
	margin-top: 30px;
}

/* Wrapper */
section.wrapper {
	overflow: hidden;
}

/* Header */
section.header {
	padding: 20px 0;
	border-top: 12px solid #e91a83;
	border-bottom: 1px solid #D8D8D8;
	background: #FFF;
}
section.header .header-logo {
	display: block;
	float: left;
	clear: left;
}
section.header .header-logo img {
	display: block;
	width: 150px;
	height: auto;
}

/* Hero */
section.hero {
	padding: 80px 0;
	background: #FFF;
}
section.hero .hero-header {
	display: none;
}
section.hero .hero-header .header-title {
	color: #202F65;
	font-family: Proxima Sans Medium, Arial, sans-serif;
	font-size: 45px;
	font-size: 2.8125rem;
	font-weight: 600;
	/*font-style: italic;*/
	line-height: 1;
}
section.hero .hero-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
section.hero .hero-wrapper::after {
	display: table;
	clear: both;
	content: "";
}
section.hero .hero-wrapper > .wrapper-left {
	float: left;
	clear: left;
	width: 100%;
	width: calc(50% + 20px);
	max-width: 600px;
	padding-right: 80px;
}
section.hero .hero-wrapper > .wrapper-right {
	float: right;
	clear: right;
	-ms-flex-item-align: center;
	align-self: center;
	width: 100%;
	width: calc(50% - 20px);
	max-width: 560px;
}
section.hero .hero-image {
	position: relative;
	z-index: 0;
	width: 100%;
	max-width: 520px;
}
section.hero .hero-image::before {
	position: absolute;
	z-index: -1;
	top: 2.666666666666667%;
	right: 2.769230769230769%;
	bottom: 2.666666666666667%;
	left: -12%;
	content: "";
	border-radius: 50%;
	background: #F6F3EE;
}
section.hero .hero-image img {
	width: 100%;
}
section.hero .hero-content {
	width: 100%;
	max-width: 450px;
}
section.hero .hero-content .content-title {
	color: #202F65;
	font-family: Proxima Sans Medium, Arial, sans-serif;
	font-size: 45px;
	font-size: 2.700rem;
	font-weight: 600;
	/*font-style: italic;*/
	line-height: 1;
}
section.hero .hero-content .content-text:not(:first-child) {
	margin-top: 30px;
}
section.hero .hero-content .content-text p:not(:first-child),
section.hero .hero-content .content-text ul:not(:first-child) {
	margin-top: 20px;
}
section.hero .hero-content .content-btn-block:not(:first-child) {
	margin-top: 30px;
}

.containter-fluid{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Footer */
footer.footer {
	padding: 40px 0;
	color: #FFF;
	border-top: 10px solid #FFDA00;
	background: #202F64;
}
footer.footer .footer-main::after {
	display: table;
	clear: both;
	content: "";
}
footer.footer .footer-main > .main-left {
	float: left;
	clear: left;
	text-align: left;
}
footer.footer .footer-main > .main-right {
	float: right;
	clear: right;
	padding: 5px 0;
	text-align: right;
}
footer.footer .footer-main .main-content::after {
	display: table;
	clear: both;
	content: "";
}
footer.footer .footer-main .main-content .content-logo {
	display: block;
	float: left;
	clear: left;
}
footer.footer .footer-main .main-content .content-logo img {
	display: block;
	width: 130px;
	height: 55px;
}
footer.footer .footer-main .main-content .content-callnow {
	position: relative;
	z-index: 0;
	padding-left: 30px;
}
footer.footer .footer-main .main-content .content-callnow::before {
	position: absolute;
	top: 10px;
	left: 0;
	width: 25px;
	height: 25px;
	content: "";
	background: url("./assets_ebook/static/img/icons/footer/phone.svg") center no-repeat;
	background-size: contain;
}
footer.footer .footer-main .main-content .content-callnow b {
	display: block;
	font-size: 15px;
	font-size: .9375rem;
	font-weight: 500;
	line-height: 20px;
}
footer.footer .footer-main .main-content .content-callnow a {
	transition: color .2s ease-in-out;
	text-decoration: none;
	color: inherit;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 800;
	line-height: 25px;
}
footer.footer .footer-main .main-content .content-callnow a:hover {
	color: #F58220;
}
footer.footer .footer-legal {
	padding-top: 20px;
	border-top: 1px solid #FFF;
}
footer.footer .footer-legal:not(:first-child) {
	margin-top: 120px;
}
footer.footer .footer-legal::after {
	display: table;
	clear: both;
	content: "";
}
footer.footer .footer-legal > .legal-left {
	float: left;
	clear: left;
}
footer.footer .footer-legal > .legal-right {
	float: right;
	clear: right;
}
footer.footer .footer-legal .legal-content a {
	transition: color .2s ease-in-out;
	text-decoration: none;
	color: inherit;
	font-size: 12px;
	font-size: .75rem;
	font-weight: 700;
	line-height: 20px;
}
footer.footer .footer-legal .legal-content a:hover {
	color: #F58220;
}

/* Modal */
section.modal {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: none;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	padding: 120px 30px;
	background: #050A1E;
	background: rgba(5, 10, 30, .6);
}
section.modal .modal-wrapper {
	width: 100%;
	max-width: 610px;
	margin: 0 auto;
	transition: transform .2s ease-in-out;
	backface-visibility: hidden;
}
section.modal .modal-content {
	padding: 60px;
	border-radius: 8px;
	background: #FFF;
}
section.modal .modal-content .content-header {
	position: relative;
	z-index: 0;
	padding-right: 10px;
	padding-bottom: 20px;
	border-bottom: 2px solid #F6F3EE;
}
section.modal .modal-content .content-header .header-title {
	color: #202F65;
	font-size: 25px;
	font-size: 1.5625rem;
	font-weight: 700;
	line-height: 1;
}
section.modal .modal-content .content-header .header-close {
	position: absolute;
	z-index: -1;
	top: -30px;
	right: -30px;
	overflow: hidden;
	width: 20px;
	height: 20px;
	cursor: pointer;
	transition: opacity .2s ease-in-out;
	text-indent: 100%;
	color: transparent;
	background: url("./assets_ebook/static/img/icons/modal/close.svg") center no-repeat;
	background-size: contain;
	font-size: 0;
}
section.modal .modal-content .content-header .header-close:hover {
	opacity: .75;
}
section.modal .modal-content .content-form:not(:first-child) {
	margin-top: 30px;
}
body.open-modal {
	overflow: hidden !important;
}
body:not(.open-modal) section.modal {
	overflow: hidden !important;
}
body:not(.open-modal) section.modal .modal-wrapper {
	-webkit-transform: scale(.5);
	-ms-transform: scale(.5);
	transform: scale(.5);
}

/* Responsive */
@media (max-width: 960px) {
	/* Header */
	section.header {
		padding: 15px 0;
		border-top-width: 6px;
	}
	section.header .header-logo img {
		width: 70px;
		height: 30px;
	}

	/* Hero */
	section.hero {
		padding: 60px 0;
	}
	section.hero .container {
		max-width: 510px;
	}
	section.hero .hero-header {
		display: block;
	}
	section.hero .hero-header .header-title {
		font-size: 35px;
		font-size: 2.1875rem;
	}
	section.hero .hero-wrapper {
		display: block;
	}
	section.hero .hero-wrapper:not(:first-child) {
		margin-top: 30px;
	}
	section.hero .hero-wrapper > .wrapper-left,
	section.hero .hero-wrapper > .wrapper-right {
		float: none;
		clear: none;
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	section.hero .hero-wrapper > .wrapper-right:not(:first-child) {
		margin-top: 30px;
	}
	section.hero .hero-image {
		max-width: 260px;
		margin: 0 auto;
	}
	section.hero .hero-content .content-title {
		display: none;
	}
	section.hero .hero-content .content-text:not(:first-child) {
		margin-top: 0;
	}

	/* Footer */
	footer.footer {
		padding: 20px 0;
		border-top-width: 5px;
	}
	footer.footer .footer-main .main-content .content-logo img {
		width: 95px;
		height: 40px;
	}
	footer.footer .footer-main .main-content .content-callnow {
		padding-left: 0;
	}
	footer.footer .footer-main .main-content .content-callnow::before {
		display: none;
	}
	footer.footer .footer-main .main-content .content-callnow b {
		font-size: 13px;
		font-size: .8125rem;
	}
	footer.footer .footer-main .main-content .content-callnow a {
		display: inline-block;
		padding-left: 22px;
		vertical-align: top;
		background: url("./assets_ebook/static/img/icons/footer/phone.svg") left top no-repeat;
		background-size: 12px 20px;
		font-size: 16px;
		font-size: 1rem;
		line-height: 20px;
	}
	footer.footer .footer-legal:not(:first-child) {
		margin-top: 60px;
	}
	footer.footer .footer-legal .legal-content a {
		font-size: 10px;
		font-size: .625rem;
	}
}
@media (max-width: 600px) {

	/* Modal */
	section.modal .modal-content {
		padding: 40px;
	}
	section.modal .modal-content .content-header {
		padding-right: 20px;
	}
	section.modal .modal-content .content-header .header-close {
		top: -20px;
		right: -20px;
		width: auto;
		min-width: 20px;
		height: auto;
		padding-top: 20px;
		text-align: center;
		text-indent: 0;
		color: #F58220;
		background-position: center top;
		background-size: 20px 20px;
		font-size: 12px;
		font-size: .75rem;
		line-height: 15px;
	}
}
@media (max-width: 480px) {
	/* Button */
	.btn {
		font-size: 15px;
		font-size: .9375rem;
		line-height: 25px;
	}

	/* Container */
	.container {
		padding: 0 20px;
	}

	/* Form */
	form.form .form-label {
		font-size: 14px;
		font-size: .875rem;
	}
	form.form .form-checkbox .checkbox-label {
		padding-top: 5px;
		font-size: 12px;
		font-size: .75rem;
		line-height: 15px;
	}
	form.form .form-submit .btn {
		display: block;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}

	/* Hero */
	section.hero {
		padding: 40px 0 60px;
	}
	section.hero .hero-header .header-title {
		font-size: 25px;
		font-size: 1.759rem;
	}
	section.hero .hero-wrapper:not(:first-child) {
		margin-top: 20px;
	}
	section.hero .hero-wrapper > .wrapper-right:not(:first-child) {
		margin-top: 20px;
	}
	section.hero .hero-content .content-text {
		font-size: 13px;
		font-size: .8125rem;
	}
	section.hero .hero-content .content-text p:not(:first-child),
	section.hero .hero-content .content-text ul:not(:first-child) {
		margin-top: 15px;
	}
	section.hero .hero-content .content-btn-block:not(:first-child) {
		margin-top: 20px;
	}
	section.hero .hero-content .content-btn-block .btn {
		display: block;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
	
	/* Modal */
	section.modal {
		padding: 40px 20px;
	}
	section.modal .modal-content {
		padding: 30px;
	}
	section.modal .modal-content .content-header {
		padding-right: 30px;
	}
	section.modal .modal-content .content-header .header-title {
		font-size: 20px;
		font-size: 1.25rem;
	}
	section.modal .modal-content .content-header .header-close {
		top: -10px;
		right: -10px;
	}
}

@media (max-width: 320px) {
	section.hero .hero-header .header-title {
		font-size: 25px;
		font-size: 1.5625rem;
	}
}
